.grid {
  display: grid;
  position: absolute;
  gap: 32px;
  grid-template-columns: repeat(5, 198px);
  grid-template-rows: repeat(5, 262px);
  height: 1542px;
  left: 145px;
  top: 252px;
  width: 1150px;
}

@media (max-width: 768px) {
  .grid {
    left: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    top: 200px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 640px) {
  .grid {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
