.sneakers-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  .sneakers-page {
    padding: 0 1.25rem;
  }
}
