.page {
  @apply relative w-full min-h-screen bg-white;
}

@media (max-width: 768px) {
  .page {
    @apply px-5 py-0;
  }
}

.pageTitle {
  @apply absolute text-5xl font-bold text-black;
  height: 57px;
  left: 145px;
  top: 181px;
  width: 665px;
}

@media (max-width: 768px) {
  .pageTitle {
    @apply left-5 text-4xl;
    top: 140px;
  }
}

@media (max-width: 640px) {
  .pageTitle {
    @apply text-3xl;
  }
}
