.card {
  position: relative;
  height: 262px;
  width: 198px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
  width: 198px;
}

.productInfo {
  position: absolute;
  left: 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: black;
  height: 30px;
  top: 228px;
  width: 198px;
}

.buyButton {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #52525b;
  height: 18px;
  left: 127px;
  top: 244px;
  width: 47px;
  border: none;
}

.favoriteButton {
  position: absolute;
  left: 175px;
  top: 244px;
  width: 23px;
  height: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .productInfo {
    width: 100%;
  }
}